.root {
    width: 95%;
    max-width: 40rem;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%
}

.pageBtn, .currPage {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid gray;
    cursor: pointer;
}

.currPage, .pageBtn:hover {
    background-color: cadetblue;
}