.root {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.error {
    background-color: red;
    width: 20rem;
    height: 20rem;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    margin: auto;
}

.searchBar {
    width: 100%;
    background-color: #f3f3f3;
}