.root {
    width: 86%;
    margin: auto;
    padding: 0.5% 2%;
    text-align: left;
    border: 1px solid cadetblue;
    box-shadow: 0px 3px 3px 3px rgba(95, 158, 160, 0.3);
    border-radius: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 87%;
}
